<%- include('../partials/header.ejs') %>
<div class="inner-container">
  <%- include('../partials/errorMessage.ejs') %> <%-
  include('../partials/greeting.ejs') %>

  <h2 class="page-header"><%= driver.name %> (Driver)</h2>
  <div class="flex justify-end">
    <a class="btn btn-primary mr-3" href="/drivers/<%= driver.iddriver %>/edit"
      ><img src="../images/mode_edit_black_36dp.svg" alt="edit" /></a
    >
    <%- include('../partials/deleteForm', { url: `/drivers/${driver.iddriver}`
    }) %>
  </div>
</div>
