<%- include('../partials/header.ejs') %>
<div class="inner-container">
  <%- include('../partials/errorMessage.ejs') %>
  <%- include('../partials/greeting.ejs') %>
   
  <h2 class="page-header">Search Conductors</h2>
  <form action="/conductors" method="GET">
    <div class="form-row">
      <div class="form-item">
        <label>Name</label>
        <input type="text" name="name" value="<%= searchOptions.name %>">
      </div>
    </div>
    <div class="form-row form-row-end">
      <button class="btn btn-primary" type="submit">Search</button>
    </div>
  </form>
  <br>
  <% conductors.forEach(conductor => { %>
    <div class="general-row">
      <div class="general-name"><%= conductor.name %></div>
      
      <div class="btn-row">
        <a class="btn btn-primary" href="/conductors/<%= conductor.idconductor %>">View</a>
        <a class="btn btn-primary" href="/conductors/<%= conductor.idconductor %>/edit">Edit</a>
        
      </div>
    </div>
  <% }) %>

</div>

