<%- include('../partials/header.ejs') %>
<div class="inner-container">
  <%- include('../partials/errorMessage.ejs') %> <%-
  include('../partials/greeting.ejs') %>
  <div class="flex justify-between items-center">
    <h2 class="page-header">Search Buses</h2>
    <a
      class="px-5 py-2 rounded-full bg-gray-200 text-blue-600"
      href="/buses/add"
      >+ Add Bus</a
    >
  </div>

  <form action="/buses" method="GET">
    <div class="form-row">
      <div class="form-item">
        <label>Name</label>
        <input type="text" name="name" value="<%= searchOptions.name %>" />
      </div>
    </div>
    <div class="form-row form-row-end">
      <button class="btn btn-primary" type="submit">
        <img src="images/search_black_36dp.svg" alt="search" />
      </button>
    </div>
  </form>
  <br />
  <% buses && buses.forEach(bus => { %>
  <div
    class="general-row bg-blue-500 bg-opacity-30 p-3 rounded-xl items-center"
  >
    <div class="general-name"><%= bus.name %></div>

    <div class="btn-row">
      <a class="btn btn-primary" href="/buses/<%= bus.idbus %>">
        <img src="../images/visibility_black_36dp.svg" alt="view" />
      </a>
      <a class="btn btn-primary" href="/transacts/add">
        <img src="../images/book_black_36dp.svg" alt="Book ticket" />
      </a>
    </div>
  </div>
  <% }) %>
</div>
