<%- include('../partials/header.ejs') %>
<div class="inner-container">
  <%- include('../partials/errorMessage.ejs') %> <%-
  include('../partials/greeting.ejs') %>

  <h2 class="page-header"><%= bus.name %> (Bus)</h2>
  <div class="details-grid w-1/2 mt-5">
    <div class="details-label">Driver:</div>
    <div><%= driver.name %></div>
    <div class="details-label">Conductor:</div>
    <div><%= conductor.name %></div>
    <div class="details-label">Start point:</div>
    <div><%= bus.from %></div>
    <div class="details-label">End point:</div>
    <div><%= bus.to %></div>
    <div class="details-label">Seats left:</div>
    <div><%= bus.capacity %></div>
    <div class="details-label">Seats already registered:</div>
    <div><%= bus.reserved %></div>
  </div>

  <div class="flex justify-end mt-3">
    <a class="btn btn-primary mr-3" href="/buses/<%= bus.idbus %>/edit">
      <img src="../images/mode_edit_black_36dp.svg" alt="edit" />
    </a>
    <%- include('../partials/deleteForm', { url: `/buses/${bus.idbus}` }) %>
    <a
      class="btn btn-primary ml-3"
      href="/conductors/<%= conductor.idconductor %>"
      >View Bus Conductor</a
    >
    <a class="btn btn-primary ml-3" href="/drivers/<%= driver.iddriver %>"
      >View Bus Driver</a
    >
  </div>
</div>
