<%- include('../partials/header.ejs') %>
<div class="inner-container">
    <%- include('../partials/errorMessage.ejs') %>
    <%- include('../partials/greeting.ejs') %>
     
    <h2 class="page-header"><%= passanger.name %></h2>
    <div class="btn-row">
      <a class="btn btn-primary" href="/passangers/<%= passanger.idpassanger %>/edit">Edit</a>
      <%- include('../partials/deleteForm',
                  { url: `/passangers/${passanger.idpassanger}` }) %>
    </div>
  
  </div>