<%- include('../partials/header.ejs') %>
<div class="inner-container">
  <%- include('../partials/errorMessage.ejs') %>
  <%- include('../partials/greeting.ejs') %>
  
  <h2 class="page-header"><%= transact.tid %></h2>
  <div class="details">
    <div>
      <div class="details-btn-grid">
        <a class="btn btn-primary " href="/buses/<%= transact.idbus %>">View Bus</a>
        <a class="btn btn-primary " href="/passangers/<%= transact.pid %>">Owner</a>
      </div>
    </div>
  </div>

</div>

